@model IEnumerable<StudyDoIT.Models.Common.ItemCountWords>

@{
    ViewBag.Title = "Danh sách danh mục tin";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        </div>

        <h2 class="panel-title">Danh sách danh mục tin</h2>

        <div style="float: right; margin-right: 40px; margin-top: -27px;">
            @*<a class="btn btn-success" href="/AdminIT/Category/Create"> <span><i class="fa fa-plus"></i></span> Thêm mới</a>*@
        </div>

    </header>
    <div class="panel-body">

        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools"
               data-swf-path="/Areas/AdminIT/Content/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">

            <thead>
                <tr>
                    <th>Tên nhóm từ khóa</th>
                    <th>Từ khóa</th>
                    <th>Số lượng</th>
                    <th>Loại từ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td>@Html.DisplayFor(modelItem => item.GroupWord)</td>
                        <td>@Html.DisplayFor(modelItem => item.Word)</td>
                        <td>@Html.DisplayFor(modelItem => item.Count)</td>
                        <td>
                            @if (item.Type.Trim().Equals("0"))
                            {
                                <label>Từ gốc</label>
                            }
                            else
                            {
                                <label>Từ mở rộng</label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>




