

<section id="portfolio" class="section bg-grey padding-v-60">
    <!-- Content -->
    <div class="container container-wide">
        <h6 class="margin-b-50">Portfolio</h6>

        <div class="row masonry">
            <!-- Masonry Sizer -->
            <div class="masonry-sizer col-lg-3 col-sm-6 col-xs-12"></div>
            <!-- Masonry Element -->
            <div class="masonry-item margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <div class="gallery-item">
                    <div class="item-photo">
                        <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="~/Content/img/projects/project-square01.jpg" alt="" /></a>
                        <div class="item-hover bg-dark dark">
                            <div class="item-hover-content">
                                <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                        <span class="caption text-muted">Mockups</span>
                    </div>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="item-photo">
                        <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="~/Content/img/projects/project-square02.jpg" alt="" /></a>
                        <div class="item-hover bg-dark dark">
                            <div class="item-hover-content">
                                <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                        <span class="caption text-muted">Mockups</span>
                    </div>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="item-photo">
                        <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="~/Content/img/projects/project-vertical01.jpg" alt="" /></a>
                        <div class="item-hover bg-dark dark">
                            <div class="item-hover-content">
                                <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                        <span class="caption text-muted">Mockups</span>
                    </div>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="item-photo">
                        <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="~/Content/img/projects/project-vertical02.jpg" alt="" /></a>
                        <div class="item-hover bg-dark dark">
                            <div class="item-hover-content">
                                <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                        <span class="caption text-muted">Mockups</span>
                    </div>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <div class="gallery-item">
                    <div class="item-photo">
                        <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="~/Content/img/projects/project-horizontal01.jpg" alt="" /></a>
                        <div class="item-hover bg-dark dark">
                            <div class="item-hover-content">
                                <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                        <span class="caption text-muted">Mockups</span>
                    </div>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="item-photo">
                        <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="~/Content/img/projects/project-square03.jpg" alt="" /></a>
                        <div class="item-hover bg-dark dark">
                            <div class="item-hover-content">
                                <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                        <span class="caption text-muted">Mockups</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
