

<div class="resume-box">
    <span class="icon animated" data-animation="fadeInDown"><i class="ti-comment-alt text-tertiary"></i></span>
    <h4><strong>Hi hi</strong></h4>
    <p class="lead">Cuộc sống dù đi chậm vẫn cứ phải bước đi chứ không được dừng lại!</p>
    @*<p>
        Sed lacinia, nibh sit amet auctor vestibulum, enim risus condimentum erat, quis vestibulum mi ligula a nulla. Nulla vitae pharetra tellus.
        Aenean ac tincidunt augue, volutpat ullamcorper elit.
    </p>*@
</div>
