@model IEnumerable<StudyDoIT.Models.NLP.Role>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        </div>

        <h2 class="panel-title">Danh sách quyền</h2>

        <div style="float: right; margin-right: 40px; margin-top: -27px;">
            <a class="btn btn-success" href="/AdminIT/Roles/Create"> <span><i class="fa fa-plus"></i></span> Thêm mới</a>
        </div>

    </header>
    <div class="panel-body">

        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools"
               data-swf-path="/Areas/AdminIT/Content/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">

            <thead>
                <tr>
                    <th>Mã quyền</th>
                    <th>Tên quyền</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="actions">                           
                            @if (item.Id != "151006093940732")
                            {
                                @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                                <span>|</span>
                                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

