@model StudyDoIT.Models.NLP.User

@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAccount.cshtml";
}

<div class="panel-title-sign mt-xl text-right">
    <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Recover Password</h2>
</div>
<div class="panel-body">
    <div class="alert alert-info">
        <p class="m-none text-weight-semibold h6">Enter your e-mail below and we will send you reset instructions!</p>
    </div>
    @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="form-group mb-none">
            <div class="input-group">
                @Html.TextBox("Email", "", new { @class = "form-control input-lg", placeholder = "E-mail", type="email" })
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit">Reset!</button>
                </span>
            </div>
        </div>
        <p class="text-center mt-lg">Remembered Account? <a href="/AdminIT/Account/Login">Sign In!</a> </p>
    }
    
</div>

