
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="text-align:center">
    <h2 style="color:red">Vector hóa từ thành công</h2>: @ViewBag.Time
</div>
