@model IEnumerable<StudyDoIT.Models.Admin.Manufacturer>

<div class="form-group">
    <label class="col-md-3 control-label"> Danh mục nhà sản xuất </label>
    <div class="col-md-6">
        @foreach (var item in Model)
        {
            <div class="checkbox-custom checkbox-info">
                <input name="@item.Id" type="checkbox" id="checkboxExample5">
                <label for="checkboxExample5">@item.Name</label>
            </div>
        }
    </div>
</div>

