﻿@model IEnumerable<StudyDoIT.Models.NLP.RoleFunction>

<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Menu
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="/AdminIT/Home">
                            <i class="lnr lnr-home"></i>
                            <span>TRANG CHỦ</span>
                        </a>
                    </li>
                    @RenderTreeItem(Model, "0")
                </ul>
            </nav>

            <hr class="separator" />

        </div>
    </div>
</aside>



@helper RenderTreeItem(IEnumerable<StudyDoIT.Models.NLP.RoleFunction> Roles, string role)
{
    var list_role = Roles.Where(m => m.FunctionParent.Trim() == role.Trim()).OrderBy(m => m.Location);
    string css_class = "";

    foreach (var item in list_role)
    {
        int count_child = Roles.Where(m => m.FunctionParent == item.Id).Count();

        if (count_child > 0 && role == "0") { css_class = ""; }

        <li class="nav-parent">

            @if (count_child > 0)
            {
                <a>
                    <i class="lnr lnr-file-empty"></i>
                    <span>@item.Category.Name</span>
                </a>
                <ul class="nav nav-children">
                    @RenderTreeItem(Roles, item.Id)
                </ul>
            }
            else
            {
                <a href='~/adminit/@(item.Category.Url)'>
                    <i class="fa fa-copy" aria-hidden="true"></i>
                    <span>@item.Category.Name</span>
                </a>
            }

        </li>
    }
}