
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="text-align:center">
    <h2 style="color:red">Chào mừng bạn đến với trang quản lý</h2>
    <img src="~/Areas/AdminIT/Content/images/backgroud.png" />   
</div>
