

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    @Html.Action("LoadListComment")
</div>
<div>
    @Html.Action("LoadListSentenses")
</div>


